body {
	background:#white;
	font-family: arial;
}

.fheader {
	background: #999;
	padding: 15px 15px 0 15px;
}

.fheader h1 {
	display: inline;
	font-size: 40px;
}

.fheader ul{
	margin: : 0;
	display: inline;
}

.fheader ul li {
	list-style-type: none;
	display: inline-block;
	padding: 5px 15px;
}

.row{

}

.col {
	float: left;
}

footer {
	background: #999;
}

.links {

}

.social{
	height: 60px;
	margin: 15px;
}